/* tab css */
/*
.tab {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    align-self: center;
    height: 100%;
}
  .tab>div.tab-content {
    display: flex;
    flex: 1 1 auto;
  }
  .tab-tabs {
	  width: 100%;
  }
  .tab-top, .tab-bottom {
	display: flex;
	position: fixed;
	width: 100%;
  }
  .tab-top {
	  top: 0;
  }
  .tab-bottom {
	bottom:0;
  }
  */
  ul.tv-tabs {
	  list-style: none;
	  padding: 0;
	  margin: 0;
  }
  div.tv-tabs {
	display: flex;
    align-items: center;
	width: 100%;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
	background-color: #f0f0f0;
  }
  header>div.tv-tabs {
	border-bottom: 1px lightgray solid;
  }
  footer>div.tv-tabs {
	border-top: 1px lightgray solid;
  }
  div.tv-tabs>div {
	  flex: 1;
  }
  div.tv-tabs-sm {
	min-height: 3.2rem;
  }
  div.tv-tabs-md {
	min-height: 3.6rem;
  }
  /*
  @media (min-width: 576px) {
	  .tv-tabs {
		max-width: 540px;
	}
  }
  @media (min-width: 768px) {
	.tv-tabs {
		max-width: 720px;
	}
  }
  @media (min-width: 992px) {
	.tv-tabs {
		max-width: 960px;
	}
  }
  @media (min-width: 992px) {
	.tv-tabs {
		max-width: 960px;
	}
  }
  */
  /*
  .tab-content>div {
    width: 100%;
  }
  .tab>div.tab-content>div>article {
	  height: 100%;
  }
  */
  div.tv-tabs>div {
	  flex: 1;
	  display: flex;
	  justify-content: center;
  }
  div.tv-tabs>div>div {
    position: relative;
  }
  div.tv-tabs>div>div>u {
    position: absolute;
    right: -0.8rem;
    top: 0rem;
    font-size: 0.7rem;
    background-color: red;
    display: flex;
    align-items: center;
    color: white;
    min-width: 1rem;
    padding: 0 3px;
    height: 1.0rem;
    text-decoration: none;
    justify-content: center;
    border-radius: 0.6rem;
  }
  div.tv-tabs>div>div>u.dot {
    width: 0.5rem;
    height: 0.5rem;
    min-width: 0.5rem;
    right: -0.8rem;
  }
  
  